# Archivos generados por Python
__pycache__/
*.pyc
*.pyo
front
front/*
frontt
a.mp4

# Archivos generados por el entorno virtual
env/

# Archivos generados por el administrador de paquetes pip
pip-selfcheck.json